.subscribe-button {
    background-color: rgb(212, 0, 0);
    color: white;
    border: none;
    height: 35px;
    width: 105px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 10px;
    transition: opacity 0.15s;
    vertical-align: top;
  }

  .subscribe-button:hover {
    opacity: 0.7;
  }

  .subscribe-button:active {
    opacity: 0.4;
  }

  .join-button {
    background-color: white;
    border-color: rgb(0, 174, 255);
    border-style: solid;
    border-width: 1px;
    color: rgb(1, 142, 207);
    height: 36px;
    width: 62px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.15s,
      color 0.15s;
  }

  .join-button:hover {
    background-color: rgb(1, 142, 207);
    color: white;
  }

  .join-button:active {
    background-color: rgb(1, 142, 207);
    color: white;
    opacity: 0.6
  }

  .tweet-button {
    background-color: rgb(29, 155, 240);
    color: white;
    border-style: solid;
    border-radius: 15px;
    height: 36px;
    width: 78px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    margin-right: 8px;
    transition: box-shadow 0.15s;
  }

  .tweet-button:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  }

  .amazon-button {
    background-color: rgb(255, 216, 20);
    color: black;
    border: none;
    height: 36px;
    width: 150px;
    border-radius: 18px;
    cursor: pointer;
    font-size: 11px;
    margin-right: 8px;
  }

  .github-button {
    background-color: rgb(46, 164, 79);
    color: white;
    border: none;
    height: 36px;
    width: 80px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
  }