
.amazon-button {
    background-color: rgb(255, 167, 4);
    color: black;
    border: none;
    height: 36px;
    width: 150px;
    border-radius: 18px;
    cursor: pointer;
    font-size: 11px;
    margin-right: 8px;
    transition: opacity 0.15s;
  }

  .amazon-button:hover{
    opacity: 0.8;
  }

  .amazon-button:active {
    opacity: 0.5;
  }
    
    .otsikko {
      color: black;
      font-weight: bold;
      font-size: 30px;
  }

    .hinta {
      color: green;
      font-size: 18px;
    }

    .toimitus {
      color: black;
      font-size: 22px;
    }

    .osta-nyt {
      background-color: rgb(255, 167, 4);
      color: black;
      border: none;
      height: 36px;
      width: 150px;
      border-radius: 18px;
      cursor: pointer;
      transition: opacity 0.15s;
    }

    .osta-nyt:hover {
      opacity: 0.8;
    }

    .osta-nyt:active{
      opacity: 0.5;
    }

    .linkki {
      transition: opacity 0.15s;
    }

    .linkki:hover {
      opacity: 0.7;
    }